---
layout: default
---
<div class="assemble {{demo.modifier}}">

  <header>
    <h2> {{demo.title}} <a href="{{demo.component}}.html">#</a> </h2>
    {{#if demo.source}}
    <span class="source">
      {{#each demo.authors}}
        <a href="{{url}}"> {{name}} </a>
      {{/each}}
    </span>
    {{/if}}
  </header>

  {{!-- Ye Olde Ckomponent'
  ================================== --}}
  {{> body }}

</div>